<form
    class="task-creator"
    (ngSubmit)="onSubmit()"
    *ngIf="isVisible"
  >
  <div class="form-control">
    <label for="text">Task</label>
    <input
      id="text"
      name="text"
      [(ngModel)]="text"
      placeholder="Buy some milk"
    />
  </div>

  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      id="day"
      name="day"
      [(ngModel)]="day"
      placeholder="May 5th at 2:30pm"
    />
  </div>

  <div class="form-control form-control-checkbox">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>

  <input
    type="submit"
    class="btn btn-block"
    value="Save Task"
  />
</form>
